<div class="container-fluid" id="about">
  <div class="container-fluid content">
      <p class="header gold text-center">ABOUT US</p>
      <div class="row text-center">
        <div class="col-sm-6 mx-auto">
          <p class="paragraph text-center">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p><br>
        </div>
      </div>
  </div>
</div>
