<div class="container-fluid" id="accommodations">
  <div class="container content">
    <p class="header navy text-center">ACCOMMODATIONS</p>
    <div class="row-fluid text-center">
      <div class="col-sm-6 mx-auto">
          <p class="sub-header-1 navy">Kress Inn</p>
          <p class="paragraph white">Located across the street from reception venue. Group rates have been reserved for Friday and Saturday nights under Larson/Wernberg.</p>
          <address class="paragraph white">
              300 Grant Street <br/>
              De Pere, Wisconsin <br />
              WI 54115 United States
          </address>
      </div>
    </div>
  </div>
</div>
