<div class="container-fluid" id="decline">
  <div class="container content">
    <div class="col-sm-6 mx-auto">
      <div id="message"></div>
    <p class="header gold text-center">If you are unable to attend</p>
    <form id="decline-form">
        <div class="form-group">
          <label for="decline-name">Name</label>
          <input type="text" class="form-control" id="decline-name" aria-describedby="name" placeholder="Name">
        </div>
        <div class="form-group">
          <label for="decline-message">Message</label>
          <textarea class="form-control" id="decline-message" rows="3"></textarea>
        </div>
      <div class="btn btn-primary" id="decline-button">Submit</div>
    </form>
    </div>
  </div>
</decline>
