<div class="container-fluid" id="decline">
  <div class="container content">
    <div class="col-sm-6 mx-auto">
      <div id="message"></div>
    <p class="header gold text-center">UNABLE TO ATTEND</p>
    <form id="decline-form">
        <div class="form-group">
          <input type="text" class="form-control" id="decline-name" aria-describedby="name" placeholder="Enter your name...">
        </div>
        <div class="form-group">
          <textarea class="form-control" id="decline-message" rows="3" placeholder="Leave a message..."></textarea>
        </div>
      <div class="btn btn-primary" id="decline-button">Submit</div>
    </form>
    </div>
  </div>
</decline>
