



// project specific CSS goes here

////////////////////////////////
		//Variables//
////////////////////////////////

// Alert colors

$white: #fff;
$mint-green: #d6e9c6;
$black: #000;
$pink: #f2dede;
$dark-pink: #eed3d7;
$red: #b94a48;

////////////////////////////////
		//Alerts//
////////////////////////////////

// bootstrap alert CSS, translated to the django-standard levels of
// debug, info, success, warning, error

.alert-debug {
  background-color: $white;
  border-color: $mint-green;
  color: $black;
}

.alert-error {
  background-color: $pink;
  border-color: $dark-pink;
  color: $red;
}

.header {
  font-family: 'Josefin Sans';
  font-weight: 400;
  font-size: 30px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.paragraph {
  font-family: 'Merriweather';
  font-weight: 300;
  font-size: 15px;
}

.sub-header-1 {
  font-family: 'Josefin Sans';
  font-size: 20px;
}

.white {
  color: white;
}

.navy {
  color: #0E212B;
}

.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.content {
  max-width: 970px;
}

.banner {
  height: 100%;
  width: 100%;
  padding: 0px;
  margin-top: -10px;
  min-height: 100%;
}

.text-center {
  text-align: center;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

#about {
  background-color: #F9F7F3;
  min-height: 100%;
}

#accommodations{
  background-color: #F79C88;
  min-height: 100%;
}

.gold {
  color: #C9974D;
}


.navbar-brand {
  font-family: 'Josefin Sans';
  font-size: 15px;
  color: #C9974D !important;
}

////////////////////////////////
		//Django Toolbar//
////////////////////////////////

// Display django-debug-toolbar.
// See https://github.com/django-debug-toolbar/django-debug-toolbar/issues/742
// and https://github.com/pydanny/cookiecutter-django/issues/317

[hidden][style="display: block;"] {
  display: block !important;
}
